body {
  font-family: sans-serif;
}

.results {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
}

.loading {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
}

.main {
  position: relative;
}
